h1,h2{
    font-family: 'Oswald',sans-serif;
}
ul{
    list-style-type: none;
    margin:0;
}
li{
    display: inline;
}
#navbar a{
    margin-left:25px;
    margin-right:50px;
}

body{
    color:yellow;
    margin: 10px 50px 10px 50px;
    font-family: 'open sans',sans-serif;
    width: 950px;
    background-color: black;
}
img{
    float: left;
}
